<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="icon" href="/img/zues.png">
        
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>A Weather site for people who check the weather but aren't wimps</p>
            <img class="zeus" src="/img/perun-perkun.gif">
           <form>
               <input placeholder="Address or location"> 
               <button>
                   Man Up!
               </button>
           </form>
           <p id="message-1"></p>
           <p id="message-2"></p>
        </div>
         {{>footer}}
         <link rel="stylesheet" href="/css/styles.css">
         <script src="/js/app.js"></script>
    </body>
    

</html>