
<footer>
    <p>Brought to you by {{name}}</p>
<nav>
    <a href="/">Home</a>
    <a href='/about'>About</a>
    <a href='/help'>Help</a>
</nav>
</footer>
<link rel="stylesheet" href="/css/styles.css">
